.main-content{
    width: 100%;
    max-width: 100%;
    height: 100vh;
}
.apply-stamp-detail-content{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    margin-top: 30px;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 30px;
    min-height: calc( 100vh - 190px);
}
.back{
    border: 1px solid #ebebeb;
    color: #333;
    padding: 4px 10px;
    border-radius: 4px;
}
.back-icon{
    margin-right: 10px;
}
.apply-stamp-detail-content-top{
    position: relative;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
}
.top-title{
    position: absolute;
    top: 0;
    left: 50%;
    width: 6em;
    transform: translateX(-3em);
}
.apply-stamp-detail-main{
    display: flex;
}
.apply-stamp-nav{
    flex: 2;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
.apply-stamp-items{
    flex: 8;
}
.apply-stamp-nav-item{
    padding: 10px 20px;
    border-bottom: 1px solid #ebebeb;
}
.apply-stamp-nav-item.boring-tab-current{
    background-color: #eff9ff;
}
.apply-stamp-nav-item:hover{
    color: #38adff;
}
.apply-stamp-items{
    padding: 10px;
}
.item-title{
    margin-bottom: 10px;
}
.history-item{
    margin-bottom: 10px;
    font-size: 14px;
}
.department-selects{
    border: 1px solid #ccc;
    padding:  10px;
    border-radius: 4px;
}
.department-selects option{
    font-size: 14px;
    line-height: 1.5;
}
.apply-stamp-select{
    margin: 30px 0 200px;
}
.oprts{
    text-align: center;
}
.oprt{
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #c3c6ce;
    background: #ffffff;
    border-radius: 4px;
    min-width: 80px;
    color: #414141;
}
.save-btn{
    color: #fff;
    background-color: #38adff;
    border-color: rgba(0, 140, 238, 0.72);
    margin-right: 10px;
}
.save-btn:hover{
    border: 1px solid #38adff;
    background: #5abbff;
}
.cancel-btn{
    outline: none;
}
.cancel-btn:hover{
    border: 1px solid #a4a8b1;
    background: #fff;
    color: #767676;
}
.item-textarea{
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.user-stamp-number{
    width: 100%;
    height: 40px;
    margin-bottom: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.verify-or-copy{
    margin-bottom: 60px;
}

.verify-or-copy-selects{
    border: 1px solid #ccc;
    padding: 10px 30px;
    border-radius: 4px;
    background: url(../images/icon_view.png) 10px center no-repeat;

}
.verify-or-copy-selects option{
    font-size: 14px;
    line-height: 1.5;
}
.add-file-wrap{
    position: relative;
    margin-bottom: 10px;
}
.add-file-btn{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #38adff;
    border: 1px solid rgba(0, 140, 238, 0.72);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.add-file-input{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 95px;
    height: 39px;
    opacity: 0;
}
.add-file-tip{
    margin-bottom: 30px;
}
.choose-label-wrap{
    display: flex;
    width: 80%;
    margin: 20px 0;
}
.choose-label{
    flex: 1;
}
.ui-input{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
.progress-table{
    width: 100%;
    margin-top: 50px;
    border: 1px solid #ccc;
    text-align: center;
    border-collapse: collapse;
}
.progress-table td,
.progress-table th{
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 4px 10px;
}
.progress-table td:nth-last-of-type(1),
.progress-table th:nth-last-of-type(1){
    border-right: 0px solid #ccc;
}
.progress-table tr:nth-last-child(1) td{
    border-bottom: 0px solid #ccc;
}
.turnpage {
	line-height: 30px;
	padding: 0 32px;
	background: #748890;
	color: #fff;
}
.turnpage a {
	color: inherit;
}
.turnpage .mock-checkbox {
	border-color: #fff;
}
.turnpage-group {
	margin-left: 1em;
}
.turnpage-control {
    width: 3.34em;
    height: 1.5em;
	text-align: center;
	border: 1px solid;
	border-radius: 4px;
    background: none;
    color: #fff;
    font-size: 16px;
}
.approve-wrap{
    flex-direction: column;
    margin-top: 30px;
}
.approve-tab{
    display: flex;
    width: 100%;
}
.approve-tab-item{
    flex: 1;
    padding-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}
.approve-tab-item:nth-child(2){
    margin-right: 0;
}
.approve-tab-item.boring-tab-current{
    color: #38adff;
    border-color: #38adff;
}
.approve-detail{
    margin-top: 20px;
}
.pass{
    color: rgb(74, 235, 74);
}
.refuse{
    color: rgb(243, 53, 53);
}
.view-detail{
    cursor: pointer;
    color: rgb(60, 214, 235);
}
.approve-detail{
    flex-direction: column;
    margin-top: 30px;
    padding: 0 20px;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
.user-name{
    display: inline-block;
    vertical-align: middle;
}
.apply-item{
    margin-top: 10px;
}
.item-name{
    display: inline-block;
}
.item-value{
    display: inline-block;
}
.approve-people-wrap{
    margin-top: 30px;
}
.approve-btn-wrap{
    display: flex;
    flex-direction: row;
}
.approve-btn{
    flex: 1;
    width: 100px;
    height: 40px;
    margin-right: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #333;
}
.notice-title{
    font-size: 24px;
    text-align: center;
}
.reason{
    margin: 20px;
    padding: 4px 10px;
    border: 1px solid #cccc;
    border-radius: 4px;
}
.oprts{
    margin-bottom: 20px;
}
.choose-deliver-table{
    margin-bottom: 30px;
}
.edit-stamp-btn{
    cursor: pointer;
    color: rgb(60, 214, 235);
}
.modal-box {
    position: absolute;
    left: 60%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
    display: none;
    font-size: 14px;
    background: #efefef;
    box-shadow: -4px 0px 11px 0px rgba(0, 0, 0, 0.14);
    background: #fff;
    -webkit-animation: fade-in 0.3s;
    animation: fade-in 0.3s;
}
.modal-box-opened {
    display: block;
}
.add-department,
.add-user{
    padding: 19px 35px;
    font-size: 20px;
    width: 100%;
    background: #fff;
    z-index: 999999999;
    border-bottom: 1px solid #eee;
}
.department-message-wrap,
.user-message-wrap{
    text-align: center;
}
.department-message{
    margin-left: 34px;
    padding: 0px 15px;
    min-height: 38px;
    background: #eceff4;
    line-height: 38px;
}
.message-item{
   margin: 30px 0;
}
.message-title{
    display: inline-block;
    color: #333;
    width: 7em;
}
.message-value{
    display: inline-block;
    width: 70%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    line-height: 20px;
    outline: none;
}
.red-star{
    color: #ff0000;
    font-size: 20px;
    position: relative;
    top: 6px;
}
.oprts{
    width:100%;
    text-align: center;
}
.oprt{
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #c3c6ce;
    background: #ffffff;
    border-radius: 4px;
    min-width: 80px;
    color: #414141;
}
.save-btn{
    color: #fff;
    background-color: #38adff;
    border-color: rgba(0, 140, 238, 0.72);
    margin-right: 10px;
}
.save-btn:hover{
    border: 1px solid #38adff;
    background: #5abbff;
}
.cancel-btn{
    outline: none;
}
.cancel-btn:hover{
    border: 1px solid #a4a8b1;
    background: #fff;
    color: #767676;
}
.stamp-detail-table{
    margin-top: 0;
}
.delete-in-batches{
   float: right;
    width: 90px;
    height: 30px;
    margin: 10px 0;
    line-height: 30px;
    color: #fff;
    background-color: #38adff;
    border-color: rgba(0, 140, 238, 0.72);
    border-radius: 4px;
    text-align: center;
}
.person-detail-wrap{
    margin-bottom: 30px;
}