.left-main{
    margin-top: 30px;
}
.company-name{
    text-align: center;
}
.item-list{
    display: flex;
    margin-bottom: 10px;
}
.item-name{
    flex: 4;
    justify-content: space-between;
    color: #929292;
}
.item-value{
    flex: 1;
}
.pics-slick-item{
    width: 500px;
    height: 300px;
}
.right-nav{
    margin-top: 30px;
}
.right-nav-title{
    font-size: 20px;
    color: #000;
    text-align: left;
    margin-bottom: 20px;
}
.right-nav-button{
    display: inline-block;
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 18px;
    background: #38adff;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}
.slick-pic-item{
    width: 100%;
}
.pics-wrap .slick-dots li {
	margin-left: 6px;
	margin-right: 6px;
}
.pics-wrap .slick-dots li,
.pics-wrap .slick-dots li button,
.pics-wrap .slick-dots li button:before {
	width: 10px;
	height: 10px;
}
.pics-wrap .slick-dots li button:before {
	font-size: 40px;
	line-height: 1;
	color: #d8d8d8;
    opacity: 1;
    top: -9px;
}
.pics-wrap .slick-dots li.slick-active button:before {
	color: #4a90e2;
}