
.search-company-wrap{
    position: relative;
}
.search-company-input{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    line-height: 20px;
    outline: none;
}
.clear{
    position: absolute;
    right: 4px;
    top: 10px;
    width: 14px;
    height: 14px;
    display: none;
    background:url(../images/icon_delete.png) no-repeat;
    cursor: pointer;
}
.search-company-input:valid + .clear{
    display: inline-block;
}
.right-top{
    margin-bottom: 30px;
}
.company-name{
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
}
.seting{
    display: inline-block;
    border: 1px solid #a4a8b1;
    background: #fff;
    color: #414141;
    cursor: pointer;
    padding: 4px 20px;
}
.seting:hover{
    border: 1px solid #a4a8b1;
    background: #fff;
    color: #767676;
}
.content-title{
    font-size: 18px;
    margin-bottom: 20px;
}
.button-wrap{
    width: 100%;
    background: #eceff4;
    padding: 10px 0;
}
.content-button{
    display: inline-block;
    border: 1px solid #a4a8b1;
    background: #fff;
    color: #414141;
    cursor: pointer;
    padding: 4px 10px;
    margin-left: 10px;
}
.content-button:hover{
    border: 1px solid #a4a8b1;
    background: #fff;
    color: #767676;
}
.add-btn{
    color: #fff;
    background-color: #38adff;
    border-color: rgba(0, 140, 238, 0.72);
}
.add-btn:hover{
    color: #fff;
    border: 1px solid #38adff;
    background: #5abbff;
}
.delete-btn{
    color: #ff4141;
    background: #ffffff;
    border: 1px solid #ff4141;
}
.delete-btn:hover{
    color: #ff7474;
    background-color: #ffffff;
    border: 1px solid #ff7474;
}
.person-list-table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.person-list-table tr{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #ebebeb;
}
.person-list-table tbody tr:hover {
    background: #f7f7f7
}
.modal-box {
    position: absolute;
    left: 60%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
    display: none;
    font-size: 14px;
    background: #efefef;
    box-shadow: -4px 0px 11px 0px rgba(0, 0, 0, 0.14);
    background: #fff;
    /* -webkit-animation: fade-in 0.3s;
    animation: fade-in 0.3s; */
}
.modal-box-opened {
    display: block;
}
.add-department,
.add-user{
    padding: 19px 35px;
    font-size: 20px;
    width: 100%;
    background: #fff;
    z-index: 999999999;
    border-bottom: 1px solid #eee;
}
.department-message-wrap,
.user-message-wrap{
    text-align: center;
}
.department-message{
    margin-left: 34px;
    padding: 0px 15px;
    min-height: 38px;
    background: #eceff4;
    line-height: 38px;
}
.message-item{
   margin: 30px 0;
}
.message-title{
    display: inline-block;
    color: #333;
    width: 7em;
}
.message-value{
    display: inline-block;
    width: 70%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    line-height: 20px;
    outline: none;
}
.red-star{
    color: #ff0000;
    font-size: 20px;
    position: relative;
    top: 6px;
}
.oprts{
    width:100%;
    text-align: center;
}
.oprt{
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #c3c6ce;
    background: #ffffff;
    border-radius: 4px;
    min-width: 80px;
    color: #414141;
}
.save-btn{
    color: #fff;
    background-color: #38adff;
    border-color: rgba(0, 140, 238, 0.72);
    margin-right: 10px;
}
.save-btn:hover{
    border: 1px solid #38adff;
    background: #5abbff;
}
.cancel-btn{
    outline: none;
}
.cancel-btn:hover{
    border: 1px solid #a4a8b1;
    background: #fff;
    color: #767676;
}
@-webkit-keyframes fade-in {
    0% {
        -webkit-transition: translate(100%, 0);
    }
    100% {
        -webkit-animation: translate(0, 0);
    }
}
@keyframes fade-in {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}